{{!< default}}

<main class="container">
    <div class="columns is-multiline">
        {{#foreach posts}}
            <div class="column is-half is-centered">
                {{> post-card}}
            </div>
        {{/foreach}}
    </div>
</main>

<!-- Pagination block -->

{{pagination}}